body {
    background-color:  #424242;
    text-align: center;
    color: white;
    font-size: 80px;

}

header{
    text-align: center;
    font-size: 30px;
}

label{
    color: white;
}

#map {
    height: 90vh; 
    width: 103.5%;
    z-index: 0;
}

.container{
    width: 90%;
    height: 10vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 90%;
    height: 60px;
    display: flex;
    background-color: #424242;
    color: white;
    align-items: center;
    border-radius: 60px;
    padding: 10px, 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px, 20px;
    font-size: 40px;
    color: white;
}

.search-bar button img{
    width: 30px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #848484;
    cursor: pointer;

}

#logo{
    position: absolute;
    bottom: 2vh;
    left: 2vh;
    height: 7vh;
}

#add{
    position: absolute;
    bottom: 8vh;
    right: 1vh;
    height: 7vh;
    width: 15%;
    font-size: 70px;
    border-radius: 200px;
    background-color: #424242;
    color: white; 
}

#form{
    z-index: 2;
    font-size: 30px;
    background-color: #424242;
    width: 80%;
    position: absolute;
    bottom: 12vh;
    right: 6vh;
    height: 50vh;
    border-radius: 20px;
}

#form div{
    z-index: 1;
    text-align: left;
    padding: 20px;
}
#searchIT{
    position: absolute;
    z-index: 2;
}

h1{
    font-size: 40px;
}
#submit{
    text-align: right;
}

ul{
    position: absolute;
    bottom: 2%;
    left: 1%;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 50px;
}

ul li{
    list-style: none;
    text-align: center;
    display: block;
}

ul li a {
    text-decoration: none;
    padding: 0 90px;
    display: block;
}

ul li a .icon{
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 auto 10px;
}

ul li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 50px;
    color: white;
}
ul li a .name{
    color: white;
    font-family: Verdana;
}

.custom-popup{
    text-align: center;
    font-size: 30px;
    width: 700px;
    height: 600px;
    background-color: aliceblue;
}
.popupImg{
    width: 90%;
    margin-left: 5%;
}
.leaflet-popup-content {
  background-color: darkgrey;
  color: black;
  font-size: 30px;
  padding: 10px;
}
