body {
    margin: 0;
    padding: 0;
    background-color: #161618;
    text-align: center;
    color: white;
}

a {
    color: blue;
    text-decoration: none; /* no underline */
  }

header {
    text-align: center;
    font-size: 30px;
}

.bg-color {
    background-color: #312735 !important;
}

#logo {
    position: absolute;
    bottom: 10px;
    left: 20px;
    height: 5rem;
}

@media only screen and (max-width: 1000px) {
    #logo {
        height: 4rem;
        bottom: 100px;
    }
    #add {
        margin-bottom: 100px;
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}

#add {
    z-index: 99;
    background-color: #424242;
    color: white;
    margin: 30px;
    width: 70px;
    height: 70px;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1000px;
    text-align: center;
}

@media only screen and (max-width: 1110px) {
    #add {
        margin-bottom: 100px;
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}

#submitForm {
    overflow-y: auto;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 864px;
    height: 600px;
    padding: 20px;
    background-color: #fff;
    color: #161618;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


h1 {
    font-size: 40px;
}

#submit {
    text-align: right;
}

:root {
    --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}