body {
    margin: 0;
    padding: 0;
    background-color: #161618;
    text-align: center;
    color: white;
}

a {
    color: blue;
    text-decoration: none; /* no underline */
  }

header {
    text-align: center;
    font-size: 30px;
}

.container {
    width: 90%;
    height: 10vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .search-bar{
    width: 90%;
    height: 60px;
    display: flex;
    background-color: #424242;
    color: white;
    align-items: center;
    border-radius: 60px;
    padding: 10px, 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px, 20px;
    font-size: 40px;
    color: white;
}

.search-bar button img{
    width: 30px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #848484;
    cursor: pointer;

} */

#logo {
    position: absolute;
    bottom: 10px;
    left: 20px;
    height: 5rem;
}

@media only screen and (max-width: 1000px) {
    #logo {
        height: 4rem;
        bottom: 100px;
    }
}

#add {
    z-index: 99;
    background-color: #424242;
    color: white;
    margin: 30px;
    width: 70px;
    height: 70px;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1000px;
    text-align: center;
}

@media only screen and (max-width: 1110px) {
    #add {
        margin-bottom: 100px;
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}

#submitForm {
    overflow-y: auto;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 864px;
    height: 600px;
    padding: 20px;
    background-color: #fff;
    color: #161618;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


h1 {
    font-size: 40px;
}

#submit {
    text-align: right;
}

/* ul {
    position: absolute;
    bottom: 2%;
    left: 1%;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 50px;
}

ul li {
    list-style: none;
    text-align: center;
    display: block;
}

ul li a {
    text-decoration: none;
    padding: 0 90px;
    display: block;
}

ul li a .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 auto 10px;
}

ul li a .icon .fa {
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 50px;
    color: white;
}

ul li a .name {
    color: white;
    font-family: Verdana;
} */